* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.login {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/Adrego.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box {
    width: 30%;
    height: 70%;
    position: relative;
    margin: 2% auto;
    background: #fff;
    padding: 1%;
    overflow: hidden;
}

.button-box {
    width: 50%;
    margin: 10% auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 20% 20%;
}

.toggle-btn {
    padding: 5% 7%;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 20% 20%;
    transition: .5s;
}

.input-group {
    top: 20%;
    position: relative;
    width: 80%;
    transition: .5s;
}

.input-field {
    width: 85%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 2% auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    position: relative;
}

.terms-label {
    margin: 5%;
    color: #777;
    font-size: 12px;
    bottom: 68px;

}

#login {
    left: 8%;
}

#register {
    left: 120%;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  display: none;
  opacity: 0;
}

.overlay:target {
  display: block;
  opacity: 1;
}

.popup {
  margin: 10% auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

.login-regist-main {
    display: grid;
    place-items: center;
    grid-template-areas: "inner-div";
}

.login-regist {
    grid-area: inner-div;
}