body {
    font-family: "Lato", sans-serif;
}

.sidebar {
    height: 100%;
    width: 0; /* Defina a largura inicial da sidebar como 0 */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #ff105f, #ffad06);
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.sidebar-footer {
    position: absolute;
    bottom: 0;
    left: -10px;
    width: 100%;
    padding: 0;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid white;
}

.sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidebar a:not(.closebtn) {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.sidebar .btn.btn-primary {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background: linear-gradient(to right, #ff105f, #ffad06);
    width: 100%;
    border: none;
}

.sidebar .btn.btn-primary img {
    margin-right: 10px;
    margin-left: 10px;
    border: 1.5px solid white;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background: linear-gradient(to right, #ff105f, #ffad06);
    color: white;
    padding: 10px 10px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.openbtn:hover {
    background-color: #444;
}

.openbtn .bar {
    width: 25px;
    height: 4px;
    background-color: white;
    margin: 2px 0;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

#mainFooter {
    transition: margin-left .5s;
    background-color: #f8f9fa;
    width: 100%;
    bottom: 0;
    clear: both;
}

.card-deck {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.card {
    width: 300px; /* Largura do card */
    height: 400px; /* Altura do card */
    flex: 0 0 auto; /* Isso impede que o card seja flexível */
    margin: 1rem;
}

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-item img {
    object-fit: contain; /* Garante que a imagem inteira seja visível */
    width: 100%;
    height: 100%;
}

.card-deck {
    margin-top: 100px;
}

.carousel {
    margin-top: 100px;
}
